<!DOCTYPE Html>
<html lang="en">

<head>

<title>DV</title>
<meta charset="utf-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src='/javascripts/libraries/d3.js' type='text/javascript'></script>
<script type="text/javascript" src='/javascripts/libraries/crossfilter.js' type='text/javascript'></script>
<script type="text/javascript" src='/javascripts/libraries/dc.js' type='text/javascript'></script>

<link href='/stylesheets/dc.css' rel='stylesheet' type='text/css'> 
<link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>

<script type="text/javascript" src='/javascripts/controllers/dashboard.js'></script> 
</head>

<body>
			<!-- Dashboard tab -->
	<div id="nav" class="container-fluid wrapper">	

	<ul>
	<li>	
	<strong> Select by Tier: </strong>
	<select name="tierM" id="tierM">
					<option selected="selected" value="FGaze">Gaze-Formal</option>
					<option value="IGaze">Gaze-Informal</option>
					<option value="FHand">HandShape-Formal</option>
					<option value="IHand">HandShape-Informal</option>
					<option value="FTouch">TouchMotion-Formal</option>
					<option value="ITouch">TouchMotion-Informal</option>
					<option value="FHead">HeadShift-Formal</option>
					<option value="IHead">HeadShift-Informal</option>
					<option value="FPosture">Posture-Formal</option>
					<option value="IPosture">Posture-Informal</option>
					<option value="FEmotions">Emotions-Formal</option>
					<option value="IEmotions">Emotions-Informal</option>
					<option value="FEmblems">Emblems-Formal</option>
					<option value="IEmblems">Emblems-Informal</option>
					<option value="FDeictic">Deictic-Formal</option>
					<option value="IDeictic">Deictic-Informal</option>
				    <option value="FF0Mov">F0Mov-Formal</option>
					<option value="IF0Mov">F0Mov-Informal</option>
					<option value="FF0Lvl">F0Lvl-Formal</option>
					<option value="IF0Lvl">F0Lvl-Informal</option>
				</select>		
	<button onclick="displayDashCharts(tierM.value)">show</button>	
	</li>
<!--	<li>
	<strong> Select by Subject: </strong>
	<select name="subjM" id="subjM">
					<option selected="selected" value="F015">015-formal</option>
					<option value="I015">015-informal</option>
					<option value="F019">019-formal</option>
					<option value="I019">019-informal</option>
					<option value="F020">020-formal</option>
					<option value="I020">020-informal</option>
					<option value="F043">043-formal</option>
					<option value="I043">043-informal</option>					
					<option value="F065">065-formal</option>
					<option value="I065">065-informal</option>
					<option value="F074">074-formal</option>
					<option value="I074">074-informal</option>
					<option value="F077">077-formal</option>
					<option value="I077">077-informal</option>
					<option value="F079">079-formal</option>
					<option value="I079">079-informal</option>
					<option value="F090">090-formal</option>
					<option value="I090">090-informal</option>
					<option value="F108">108-formal</option>
					<option value="I108">108-informal</option>
				</select>		
	<button onclick="displayDashCharts(subjM.value)">show</button>	
	</li> -->
	</div>

	<div class="container-fluid wrapper">
	
		<div class="jumbotron row col-left">

			<div id="timeChart" class="col-sm-12 col-md-6">
				<div id="topicSelection">
    			<strong>Frequency by Topics</strong>
    			<strong>(for all Subjects)</strong>
   				<a class="reset" href="javascript:timeChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
   				<div class="clearfix"></div>
				</div>
			</div>


			<div id="topicChart" class="col-sm-12 col-md-6">
				<div id="topicSelection">
    			<strong>Frequency by Topics</strong>
    			<strong>(for selection)</strong>
   				<a class="reset" href="javascript:topicChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
   				<div class="clearfix"></div>
				</div>
			</div>

			<div id="subjChart" class="col-sm-12 col-md-6">
				<div id="subjSelection">
    			<strong>Frequency by Subjects</strong>
   				<a class="reset" href="javascript:subjChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
   				<div class="clearfix"></div>
				</div>
			</div>


			<div class = "row mini">
				<div id="genChart2" class="col-sm-12 col-md-6">
					<div id="genSelection2">
    				<strong>Gender chart</strong>
    				<strong>(for selection)</strong>
   					<a class="reset" href="javascript:genChart2.filterAll();dc.redrawAll();" style="display: none;">reset</a>
   					<div class="clearfix"></div>
					</div>
				</div>

				<div id="genChart" class="col-sm-12 col-md-6">
					<div id="genSelection">
    				<strong>Gender chart </strong>
    				<strong>(for all Subjects)</strong>
   					<a class="reset" href="javascript:genChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
   					<div class="clearfix"></div>
					</div>
				</div>

				<div id="tierChart" class="col-sm-12 col-md-12">
					<div id="tierSelection">
    				<strong>Frequency by Tiers</strong> 
    				<strong>(for all Subjects)</strong>
   					<a class="reset" href="javascript:tierChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
   					<div class="clearfix"></div>
					</div>
				</div>

			</div>
		
		</div>	
			

		<div class="row jumbotron col-right">	
			<div id="annotationChart" class="col-ms-12 col-md-12">
				<div id="annotationSelection">
    			<strong>Annotations</strong>
   				 <a class="reset" href="javascript:annotationChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
   			<div class="clearfix"></div>
			</div>			
			</div>
		</div>
		
	</div>
</body>
</html>

